---
layout: layouts/home.njk
eleventyNavigation:
  key: 主页
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>最新的文章</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
